{% extends 'master.html' %}
{% load static %}
{% block title%}Dashboard{% endblock %}
{% block content %}
<div class="pagetitle">
    <h1>Hi {{user}}</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </nav>
</div>
<section class="section dashboard">
    <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-7">
            <div class="row">
                <div class="col-xxl-4 col-md-6">
                    <a href="/course_management">
                    <div class="card info-card sales-card">
                        <div class="card-body">

                            <div class="d-flex align-items-center pt-4">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="fa fa-user-graduate"
                                        style="--fa-primary-color: #254f98; --fa-secondary-color: #254f98;"></i>
                                </div>
                                <div>
                                    <h5 class="card-title ps-3">Courses</h5>
                                </div>

                            </div>
                        </div>

                    </div>
                    </a>
                </div>
                <div class="col-xxl-4 col-md-6">

                    <a href="/grade_tracking">
                        <div class="card info-card revenue-card">
                            <div class="card-body">

                                <div class="d-flex align-items-center pt-4">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="fa-solid fa-award" style="color: #18c390;"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h5 class="card-title">Grades</h5>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="col-xxl-4 col-xl-12">
                    <a href="/assignment_management">
                        <div class="card info-card customers-card">
                            <div class="card-body">

                                <div class="d-flex align-items-center pt-4">
                                    <div
                                        class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="fa-solid fa-file" style="color: #ff8f0f;"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h5 class="card-title">Assignments</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Recent Progress</h5>
                    <div id="lineChart"></div>

                    <script>
                        document.addEventListener("DOMContentLoaded", () => {
                            new ApexCharts(document.querySelector("#lineChart"), {
                                series: [{
                                    name: "Desktops",
                                    data: [10, 41, 35, 51, 49, 62, 69, 91]
                                }],
                                chart: {
                                    height: 350,
                                    type: 'line',
                                    zoom: {
                                        enabled: false
                                    }
                                },
                                dataLabels: {
                                    enabled: false
                                },
                                stroke: {
                                    curve: 'straight'
                                },
                                grid: {
                                    row: {
                                        colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                                        opacity: 0.5
                                    },
                                },
                                xaxis: {
                                    categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep'],
                                }
                            }).render();
                        });
                    </script>
                    <!-- End Line Chart -->

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}